.wrapper .logo-icon{
   display: none;
}
.wrapper .logo-text{
   display: initial;
}

.wrapper.toggled.sidebar-hovered .logo-icon{
   display: none;
}
.wrapper.toggled.sidebar-hovered  .logo-text{
   display: initial;
}
.wrapper.toggled .logo-icon{
   display: initial;
}
.wrapper.toggled .logo-text{
   display: initial;
}

@media only screen and (max-width: 1024px){
  
   .wrapper.toggled .logo-text{
      display: initial;
   } 
   .wrapper.toggled .logo-icon{
      display: none;
   }  
}

html.dark-theme .logo-text img{
    filter: invert(1) grayscale(100%) brightness(200%);
}
html.semi-dark .logo-text img{
   filter: invert(1) grayscale(100%) brightness(200%);
}

.qr-container{
   min-height: 200px;
}
.qr-container .loading-container{
   width:100%;
   display: flex;
   justify-content:center;
   align-items: center;
   font-size:14pt !important;
}
.qr-container .loading-container i{
   color:#008cff;
   margin-right: 5px;
   font-size:16pt !important;
}

.qr-container .image-container{
   font-size:12pt !important;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center
}
.qr-container .image-container span{
   margin-top:5px;
}

.qr-container .image-container img{
   height: 250px !important;
}

.qr-container .error-container{
   width:100%;
   display: flex;
   justify-content:center;
   align-items: center;
   font-size:14pt !important;
   
}
.qr-container .error-container i{
   color:#008cff;
   margin-right: 5px;
   font-size:16pt !important;
   color:red;
}

.dot_dis:before{
   content:"\002B24";
   color:red;
   padding: 5px; 
}

.dot_lo:before{
   content:"\002B24";
   color:yellow;
   padding: 5px; 
}

.dot_con:before{
   content:"\002B24";
   color:green;
   padding: 5px; 
}

@media only screen and (max-width: 768px){
   .page-breadcrumb{
      flex-direction:column;
   }
   
}
@media only screen and (max-width: 576px){
   .bread-crumb-custom{
      flex-direction:column;
      align-items: flex-start !important;
   }
   
}

.collapse_control{
   transition: transform .2s ease;
   color:#15CA20 !important;
}

.rotate-180 { 
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}